<main>
    <div
        style="text-align: center; display: flex; flex-flow: column; justify-content: center; height: calc(100vh - 70px);">
        <h1>404</h1>
        <h2>(╯°Д°)╯︵ ┻━┻</h2>
        <p>
            你进入的页面似乎消失了
            <br>
            让我们<a href="/">返回主页</a>吧
        </p>
    </div>
</main>