<footer style="padding:25px 0;">
    <% if (theme.friends && theme.friends.length > 0) { %>
        <% for (index in theme.friends) { %>
            <% if (index !== '0') { %>
                <span> | </span>
            <% } %>
            <span>
                <a href="<%= theme.friends[index].url %>"><%= theme.friends[index].name %></a>
            </span>
        <% } %>
    <% } %>
    <br/>
    <% if (theme.copyright) { %>
    <span>
        &copy; <%= date(new Date(), 'YYYY' ) %>
            <%= theme.copyright.name || config.author %>
    </span>
    <% } %>
    <span>
        Powered by <a href="https://hexo.io/">Hexo</a>
    </span>
    <span>
        Theme <a href="https://github.com/mouyase/hexo-theme-zen">Zen</a>
    </span>
</footer>